PORT=3000
ALERTABR_CORS_ORIGIN=*
ALERTABR_ALERT_FEED_LIMIT=120
ALERTABR_ALERT_OUTPUT_LIMIT=80
ALERTABR_ALERT_CACHE_TTL_MS=300000
ALERTABR_STATIONS_CACHE_TTL_MS=43200000
ALERTABR_OBSERVATION_CACHE_TTL_MS=600000
ALERTABR_REQUEST_TIMEOUT_MS=15000
